@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(fonts/CeraPro-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/CeraPro-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/CeraPro-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/CeraPro-Bold.woff2) format('woff2');
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.section-reverse {
  @apply lg:flex-row-reverse; 
}

.section-reverse .section-image {
  @apply lg:left-0;
}

.section-reverse .section-content {
  @apply lg:pl-10 lg:text-right;
}

@media (min-width: 1024px) {
  .section-reverse .section-content {
    direction: rtl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
